h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
.about{
    display: grid;
    overflow:visible;
}
.about-me-two{
    margin-top: 20px;
    text-indent: 20px;
}
.about-me-one{
    text-indent: 20px;
}